---
permalink: /posts
layout: default
---

<ul class="posts">
    {% for post in site.posts %}
        {% if post.category == "urban" %}
        
            <a href="{{ post.url | relative_url }}" class="urban">
                <div class="content">
                    <p>Urban Planning</p>
                    <h2>{{post.title}}</h2>
                    <p class="date">{{ post.date | date: "%b %d, %Y" }}</p>
                </div>
            </a>
        {% elsif post.category == "tech" %}
        <a href="{{ post.url | relative_url }}" class="technology">
            <div class="content">
                <p>Technology</p>
                <h2>{{post.title}}</h2>
                <p class="date">{{ post.date | date: "%b %d, %Y" }}</p>
            </div>
        </a>
        {% endif %}
    {% endfor %}
</ul>