@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #ffffff;
    color: #010100;
    font-family: 'Lato', sans-serif;
}

.main_content {
    min-height: calc(100vh - 8.25em);
}

.navbar {
    border-bottom: 0.1em solid black;    
    height: 3.25em;

    display: flex;
    justify-content: center;
    align-content: center;

    h1 {
        font-size: 1.25rem;
        margin-right: 1.5em;
    }

    ul {
        list-style-type: none;
        display: inline-block;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    a {
        display: block;
        color: #010100;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover {
            color: #f27178;
            font-weight: bold;
        }
    }
    
    li {
        float: left;
    }

    .content {
        margin-left: auto;
        margin-right: auto;

        display: inline-flex;
        align-items:center;
    }
}

a {
    color: #f27178;
    text-decoration: none;
}

.main_container {
    background-color: #f27178;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding: 8em;
    padding-top: 3em;
    padding-bottom: 3em;
    color: white;
    border-radius: 0 0 3em 3em; 

    p {
        margin-top: 1em;
        line-height: 2em;
    }
}

.secondary_container {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;

    display: flex;

    p {
        margin-top: 1em;
        line-height: 1.5em;
    }

    .option {
        background-color: #4297A0;
        width: 19.5em;
        margin-left: 1em;
        border-radius: 3em;
        height: 20em;

        .content {
            margin: 3em;
            color: white;

            .button {
                margin-top: 1em;
                display: block;
                font-size: 1.5rem;
                line-height: 3rem;
                text-align: center;
                width: 100%;
                height: 3rem;
                background-color: white;
                color: #4297A0;
                font-weight: bold;
                border-radius: 3em;

                &:hover {
                    color: #f27178;
                }
            }
        }
    }
}

.footer {
    height: 5em;
    background-color: #F4EAE6;
    color: #2F5061;
    border-radius: 3em 3em 0 0;

    p {
        padding: 2em;
        padding-left: 6em;
    }
}

.posts {
    margin-top: 1em;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;

   
}

.urban {
    background-color: #f27178;
    display: block;
    border-radius: 1em;
    color: white;

    margin-top: 1em;

    &:hover {
        background-color: #4297A0;
    }

    .content {
        padding: 1em;
        padding-left: 3em;
    }

    .date {
        font-size: 0.5rem;
    }
}

.technology {
    background-color: #4297A0;
    display: block;
    border-radius: 1em;
    color: white;

    margin-top: 1em;

    &:hover {
        background-color: #f27178;
    }

    .content {
        padding: 1em;
        padding-left: 3em;
    }

    .date {
        font-size: 0.5rem;
    }
}

.post {
    max-width: 55em;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;

    .date {
        font-size: 0.8rem;
    }

    .content {
        margin-top: 2em;

        p {
            line-height: 2rem;
            padding-bottom: 1.5rem;

            text-align: justify;
        }

        h2 {
            padding-bottom: 1.5rem;
        }

        h3 {
            padding-bottom: 0.8rem;
        }

        img {
            display: block;
            max-height: 30em;
            width: 100%;
            object-fit: cover;
            margin-left: auto;
            margin-right: auto;
            border-radius: 2em;
        }

        .caption {
            display: block;
            margin-top: 0.5em;
            padding-left: 2em;
            font-size: 0.8rem;
        }
    }
}