@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$accent-colour: #5d45da;
$primary-background: #f2f6ff;
$secondary-background: #dde4f6;

$medium: 70em;
$small: 40em;


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $primary-background;
    color: #010100;
    font-family: 'Inter', sans-serif;
}

.main_content {
    min-height: calc(100vh - 10em);
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;

    padding-left: 2em;
    padding-right: 2em;
}

.about_me {
    background-color: $secondary-background;
    border-radius: 0.8em;

    padding: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    line-height: 1.5rem;

    p {
        margin-bottom: 1em;
    }

    h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}



.navbar {
    padding-left: 2em;
    padding-right: 2em;
    height: 5em;

    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items:center;

    h1 {
        font-size: 1.8rem;
        background: -webkit-linear-gradient(#00a2ff, #5d45da);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.title {
    margin-top: 3rem;
    font-size: 2rem;
    color: #110e38;
}

.posts_container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
    width: 100%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.post_container {
    background-color: white;
    border-radius: 0.5rem;

    transition-duration: 200ms;
    transition-property: all;

    overflow: hidden;
    height: 100%;
    position: relative;

    .tags {
        padding: 0.75rem;
        display: flex;
        width: 100%;

        span {
            background-image: linear-gradient(#00a2ff, #5d45da);
            color: white;
            font-size: 0.75rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            font-weight: bold;
            margin-right: 0.5rem;
        }
    }

    h2 {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        text-align: left;
        color: black;
        font-size: 1.25em;
        display: block;
    }

    p {
        margin: 0.75rem;
        margin-bottom: 1.4rem;
        color: black;
    }

    .preview_image {
        display: block;
        height: 15em;
        width: 100%;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
    }
}

.post_container:hover {
    scale: 105%;
}

a {
    color: $accent-colour;
    text-decoration: none;
}

.post {
    margin-left: auto;
    margin-right: auto;

    .date {
        font-size: 0.8rem;
    }

    .content {
        margin-top: 2em;

        p {
            line-height: 2rem;
            padding-bottom: 1.5rem;

            text-align: justify;
        }

        h1 {
            padding-bottom: 1.5rem;
        }

        h2{
            padding-bottom: 1.5rem;
        }

        h3 {
            padding-bottom: 0.8rem;
        }

        img {
            display: block;
            max-height: 30em;
            width: 100%;
            object-fit: cover;
            margin-left: auto;
            margin-right: auto;
            border-radius: 0.8em;
        }

        .full-image {
            max-height: 100vh;
        }

        .caption {
            display: block;
            margin-top: 0.5em;
            padding-left: 0.8em;
            font-size: 0.8rem;
        }
    }
}

.footer {
    margin-top: 2rem;
    background-color: $secondary-background;
    padding-top: 2rem;
    padding-bottom: 2rem;
    

    .content {
        max-width: 70rem;
        margin-left: auto;
        margin-right: auto;

        padding-left: 2em;
        padding-right: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #highlight {
            font-size: 1.5rem;
        }
    }

    
}