body
{
	background-size: cover;
	background-attachment:fixed;
	padding: 0px;
	margin: 0px;
}


h1
{
	text-align: center;
	font-family: 'Bitter', serif;
	font-weight: 400;
	color: #242424;
	font-size: 50px;
}

h1 b
{
	color: #ff6b6b;
	font-weight: 600;
	font-size: 70px;
}

footer
{
	background-image: url(./images/footer.png);
	background-size: cover;
	width: 100%;
	height: 300px;
}

.reveal {
	opacity: 0;
	-webkit-transform: scale(0.9);
		 -moz-transform: scale(0.9);
			-ms-transform: scale(0.9);
			 -o-transform: scale(0.9);
					transform: scale(0.9);
	-webkit-transition: all 1s ease-in-out;
		 -moz-transition: all 1s ease-in-out;
			-ms-transition: all 1s ease-in-out;
			 -o-transition: all 1s ease-in-out;
					transition: all 1s ease-in-out;
}
.reveal.visible {
	opacity: 1;
	-webkit-transform: none;
		 -moz-transform: none;
			-ms-transform: none;
			 -o-transform: none;
					transform: none;
}

.trigger
{
	margin-top: 60vh;
	width: 100%;
}


.paragraphLeft
{
	width: 70%;
	margin-left: 10%;

	text-align: left;
	font-family: 'Bitter', serif;
	font-weight: 400;
	color: #242424;
	font-size: 20px;

	border-left-style: solid;
	border-left-color: #ff6b6b;
	padding: 5px;
	padding-left: 10px;
	display: block;
}

.paragraphRight
{
	display: block;
	width: 70%;
	margin-right: 10%;

	float: right;

	text-align: right;
	font-family: 'Bitter', serif;
	font-weight: 400;
	color: #242424;
	font-size: 20px;

	border-right-style: solid;
	border-right-color: #ff6b6b;
	padding: 5px;
	padding-right: 10px;
}

.question
{
	text-align: center;
	font-family: 'Bitter', serif;
	font-weight: 400;
	color: #242424;
	font-size: 50px;
	margin-left: 10%;
	margin-right: 10%;
}

em{
	color: #ff6b6b;
}

blockquote
{
	text-align: left;
	font-family: 'Bitter', serif;
	font-weight: 400;
	color: #242424;
	font-size: 30px;
	margin-left: 10%;
	border-left-style: solid;
	border-left-color: #ff6b6b;
	padding: 5px;
	padding-left: 10px;
	display: block;
}

blockquote p
{
	font-size: 16;
	display: inline;
	font-weight: 100;
}

.img
{
	border: #ff6b6b solid;
	width: fit-content;
	margin-left: 40px;
}

.img img
{
	margin-top: 25px;
	margin-left: 20px;
	margin-bottom: -25px;
	margin-right: -25px;

}

.imgRight
{
	border: #ff6b6b solid;
	width: fit-content;
	margin-right: 40px;
	float: right;
}

.imgRight img
{
	margin-top: 25px;
	margin-left: -25px;
	margin-bottom: -25px;
	margin-right: 20px;

}
