---
layout: default
---

<div class="main_container">
    <h1>Hey There!</h1>
    <p>I'm Darcy, a high-school student located within Australia. I have a keen interest in both urban planning and technology, especially the intersect between the two.</p>
    <p>Yes... I'm a cat person. Get over it.</p>
</div>

<div class="secondary_container">
    <div class="option">
        <div class="content">
            <h1>My Posts</h1>
            <p>Here, I'll post anything that interests me, primarily relating to technology and urban planning, or even better both!</p>
            <a href="/posts" class="button">View Them</a>
        </div>
    </div>
    <div class="option">
        <div class="content">
            <h1>My Projects</h1>
            <p>Here you can see any projects I have worked on or am actively working. </br> Don't expect too much here though.</p>
            <a href="/projects" class="button">View Them</a>
        </div>
    </div>
</div>

<!-- <ul>
    {% for post in site.posts %}
        <li><a href="{{ post.url | relative_url }}">{{post.title}}</a></li>
    {% endfor %}
</ul>
<h3><a href="/about">About</a></h3> -->