---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta charset="UTF-8" />
    <title>
      {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    </title>
  </head>
  <body>
    <div style="margin-top: 5rem" class="main_content">
      <div class="about_me">
        <h2>Hey There!</h2>
        <p>
          I'm Darcy, a high-school student from Australia. I have a keen
          interest in both urban planning and technology, especially the
          intersect between the two.
        </p>
        <p>
          Here, I'll post anything that interests me, primarily relating to
          technology and urban planning, or even better both!
        </p>
      </div>

      <h1 class="title">My Posts</h1>

      <div class="posts_container">
        {% for post in site.posts %}
        <a class="post_container" href="{{ post.url | relative_url }}">
          <div>
            <img class="preview_image" src="{{post.primary_image}}" />
            <span class="tags">
              {% for category in post.categories %}
              <span>{{category}}</span>
              {% endfor %}
            </span>

            <h2>{{post.title}}</h2>
            <p class="description">{{post.description}}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
